{
  "pagerduty_url": "https://events.pagerduty.com/v2/enqueue",
  "rpc_servers": [
    {
      "name": "Wind Server",
      "url": "http://100.65.185.90:8899",
      "reference_rpc_url": "https://mainnet.helius-rpc.com/?api-key=YOUR_HELIUS_API_KEY",
      "slot_distance_threshold": 10,
      "pagerduty_key": "YOUR_PAGERDUTY_KEY"
    },
    {
      "name": "Singapore RPC",
      "url": "http://another-ip:8899",
      "reference_rpc_url": "https://mainnet.helius-rpc.com/?api-key=YOUR_HELIUS_API_KEY",
      "slot_distance_threshold": 10,
      "pagerduty_key": "YOUR_PAGERDUTY_KEY"
    }
  ]
}
