[Unit]
Description=Arise Heartbeat
After=network.target
StartLimitIntervalSec=0


[Service]
Type=simple
Restart=always
RestartSec=1
User=sol
LogRateLimitIntervalSec=0
ExecStart=/home/linuxuser/arise-status/start.sh


[Install]
WantedBy=multi-user.target
